@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body,
html,
main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
}

.hide-on-mobile {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

header {
  .header {
    display: flex;
    background-color: #313132;
    justify-content: center;
    padding: 18px;
    align-items: center;
    .header-items {
      margin-left: 46px;
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      :hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  .header-subtitle {
    text-align: center;
    font-size: 14px;
    &-shop {
      color: #06c;
      cursor: pointer;
    }
  }
}

.texts {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.02em;
  .title {
    font-weight: 500;
    font-size: 56px;
    color: #eeeeee;
    margin: 64px 0 12px 0;
  }
  .subtitle {
    font-weight: 500;
    font-size: 26px;
    color: #eeeeee;
    margin: 0 0 18px 0;
  }
  .subtitle-available {
    font-weight: 400;
    font-size: 20px;
    color: #86868b;
    margin: 0 0 18px 0;
  }
  .subtitle-links {
    font-weight: 500;
    font-size: 20px;
    color: #2997ff;
    .order {
      margin-left: 42px;
    }
  }
}
.image {
  margin: 50px auto 0;
  img {
    width: 100%;
    height: 100%;
  }
}

main {
  section {
    &.introduction {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #000000;
      //texts come from common
    }
    &.big {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #fbfbfd;
      .texts {
        .title {
          color: #000000;
        }
        .subtitle {
          color: #000000;
        }
        .subtitle-available {
          margin-bottom: 0;
        }
        .margin {
          margin-top: 4px;
        }
        .subtitle-links {
          color: #0066cc;
        }
      }
      .image {
        margin: 20px auto 0;
      }
    }
    &.rebuilt {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #000000;
      .texts {
        .title {
          margin-bottom: 4px;
        }
      }
      .image {
        margin: 22px auto 0;
      }
    }
    &.watch {
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      .top-image {
        margin: 56px 0 16px 0;
      }
      .subtitle {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 6px;
      }
      .watch-left {
        width: 100%;
        height: 100%;
        max-width: 734px;
        background-color: #fbfbfd;
        margin: 16px 0 0 16px;
        .subtitle {
          color: #000000;
        }
        .subtitle-available {
          margin: 0 0 14px 0;
        }
        .image {
          margin: 116px auto 0;
          max-width: 450px;
        }
      }
      .watch-right {
        width: 100%;
        max-width: 734px;
        background-color: #000000;
        margin: 16px 0 0 16px;
        .image {
          margin: 116px auto 0;
          max-width: 460px;
        }
      }
    }
    &.fitness {
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      .top-image {
        margin: 40px 0 16px 0;
      }
      .subtitle {
        color: #000000;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 20px;
      }
      .fitness-left {
        width: 100%;
        height: 100%;
        max-width: 734px;
        background-color: #f5f5f7;
        margin: 16px 0 0 16px;

        .top-image {
          margin-bottom: 28px;
        }
        .subtitle-available {
          margin: 0 0 14px 0;
          color: #000000;
        }
        .image {
          margin: 32px auto 0;
          max-width: 370px;
        }
        .subtitle-image {
          text-align: center;
          font-weight: 400;
          font-size: 18px;
          color: #86868b;
        }
      }
      .fitness-right {
        width: 100%;
        max-width: 734px;
        background-color: #fbfbfd;
        margin: 16px 0 0 16px;
        .subtitle-available {
          margin: 0 0 14px 0;
        }
        .image {
          margin: 12px auto 0;
          max-width: 418px;
        }
      }
    }
    &.card {
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      .top-image {
        margin: 56px 0 16px 0;
      }
      .subtitle {
        color: #000000;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 20px;
      }
      .card-left {
        width: 100%;
        height: 100%;
        max-width: 734px;
        background-color: #f5f5f7;
        margin: 16px 0 0 16px;

        .top {
          font-style: italic;
          font-weight: 600;
          font-size: 40px;
          line-height: 48px;
          color: #000000;
          margin: 56px 0 4px 0;
          .supercharge {
            color: #ca2166;
          }
        }
        .top-image {
          margin-bottom: 28px;
        }
        .subtitle-available {
          margin: 0 0 14px 0;
          color: #000000;
        }
        .image {
          margin: 32px auto 36px;
          max-width: 345px;
        }
      }
      .card-right {
        width: 100%;
        max-width: 734px;
        background-color: #fbfbfd;
        margin: 16px 0 0 16px;
        .subtitle-available {
          margin: 0 0 14px 0;
        }
        .subtitle-links {
          margin-bottom: 0;
        }
        .image {
          margin: 74px auto 0;
          max-width: 410px;
        }
      }
    }
    &.swiper-all {
      .swiper {
        width: 600px;
        height: 300px;
        .swiper-pagination {
          position: absolute;
          text-align: center;
          transition: 0.3s opacity;
          transform: translate3d(0, 0, 0);
          z-index: 10;
          bottom: 20%;
        }
      }
    }
  }
}
