@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body,
html,
main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
}

@media screen and (max-width: 480px) {
  .hide-on-mobile {
    display: none;
  }
}

header .header {
  display: flex;
  background-color: #313132;
  justify-content: center;
  padding: 18px;
  align-items: center;
}
header .header .header-items {
  margin-left: 46px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
header .header .header-items :hover {
  color: #ffffff;
  cursor: pointer;
}
header .header-subtitle {
  text-align: center;
  font-size: 14px;
}
header .header-subtitle-shop {
  color: #06c;
  cursor: pointer;
}

.texts {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.02em;
}
.texts .title {
  font-weight: 500;
  font-size: 56px;
  color: #eeeeee;
  margin: 64px 0 12px 0;
}
.texts .subtitle {
  font-weight: 500;
  font-size: 26px;
  color: #eeeeee;
  margin: 0 0 18px 0;
}
.texts .subtitle-available {
  font-weight: 400;
  font-size: 20px;
  color: #86868b;
  margin: 0 0 18px 0;
}
.texts .subtitle-links {
  font-weight: 500;
  font-size: 20px;
  color: #2997ff;
}
.texts .subtitle-links .order {
  margin-left: 42px;
}
.texts .subtitle-links .learn:hover,
.texts .subtitle-links .order:hover {
  color: #386c9d;
  cursor: pointer;
}

.image {
  margin: 50px auto 0;
}
.image img {
  width: 100%;
  height: 100%;
}

main section.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
}
main section.big {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fbfbfd;
}
main section.big .texts .title {
  color: #000000;
}
main section.big .texts .subtitle {
  color: #000000;
}
main section.big .texts .subtitle-available {
  margin-bottom: 0;
}
main section.big .texts .margin {
  margin-top: 4px;
}
main section.big .texts .subtitle-links {
  color: #0066cc;
}
main section.big .image {
  margin: 20px auto 0;
}
main section.rebuilt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
}
main section.rebuilt .texts .title {
  margin-bottom: 4px;
}
main section.rebuilt .image {
  margin: 22px auto 0;
}
main section.watch {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
main section.watch .top-image {
  margin: 56px 0 16px 0;
}
main section.watch .subtitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 6px;
}
main section.watch .watch-left {
  width: 100%;
  height: 100%;
  max-width: 734px;
  background-color: #fbfbfd;
  margin: 16px 0 0 16px;
}
main section.watch .watch-left .subtitle {
  color: #000000;
}
main section.watch .watch-left .subtitle-available {
  margin: 0 0 14px 0;
}
main section.watch .watch-left .image {
  margin: 116px auto 0;
  max-width: 450px;
}
main section.watch .watch-right {
  width: 100%;
  max-width: 734px;
  background-color: #000000;
  margin: 16px 0 0 16px;
}
main section.watch .watch-right .image {
  margin: 116px auto 0;
  max-width: 460px;
}
main section.fitness {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
main section.fitness .top-image {
  margin: 40px 0 16px 0;
}
main section.fitness .subtitle {
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
}
main section.fitness .fitness-left {
  width: 100%;
  height: 100%;
  max-width: 734px;
  background-color: #f5f5f7;
  margin: 16px 0 0 16px;
}
main section.fitness .fitness-left .top-image {
  margin-bottom: 28px;
}
main section.fitness .fitness-left .subtitle-available {
  margin: 0 0 14px 0;
  color: #000000;
}
main section.fitness .fitness-left .image {
  margin: 32px auto 0;
  max-width: 370px;
}
main section.fitness .fitness-left .subtitle-image {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #86868b;
}
main section.fitness .fitness-right {
  width: 100%;
  max-width: 734px;
  background-color: #fbfbfd;
  margin: 16px 0 0 16px;
}
main section.fitness .fitness-right .subtitle-available {
  margin: 0 0 14px 0;
}
main section.fitness .fitness-right .image {
  margin: 12px auto 0;
  max-width: 418px;
}
main section.footer {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
  margin-top: 32px;
}
main section.footer .child-footer {
  width: 1461px;
  margin: 0 auto;
}
main section.footer .texts {
  color: #6e6e73;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: unset;
  text-align: unset;
  margin-top: 8px;
  letter-spacing: 0.3px;
}
main section.footer .top-text {
  margin-top: 36px;
}
main section.footer .border-bottom-footer {
  height: 1px;
  opacity: 0.2;
  background: #6e6e73;
  margin-top: 24px;
}
main section.all-footer {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
}
main section.all-footer .oyo-part {
  display: flex;
  justify-content: space-between;
}
main section.all-footer .bottom-text-footer {
  color: #424245;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 26px;
}
main section.all-footer .bottom-text-footer .blue {
  color: #0066cc;
}
main section.all-footer .bottom-text-footer .blue:hover {
  color: #6393c2;
}
main section.all-footer .bottom-text-footer:hover {
  color: #000000;
  cursor: pointer;
}
main section.all-footer .bottom-text-footer-oyo {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  font-family: "Euclid Circular A", sans-serif;
  margin: 26px 0 26px 0;
}
main section.all-footer .bottom-text-footer-oyo .oyo-oyo {
  color: #0066cc;
}
main section.all-footer .bottom-text-footer-oyo .oyo-oyo:hover {
  color: #ff0000;
}
main section.all-footer .bottom-text-footer-oyo .blue {
  color: #0066cc;
}
main section.all-footer .bottom-text-footer-oyo .blue:hover {
  color: #ff0000;
}
main section.all-footer .bottom-text-footer-oyo:hover {
  color: #000000;
}
main section.all-footer .border-bottom-footer {
  height: 1px;
  opacity: 0.2;
  background: #6e6e73;
  margin-top: 24px;
}
main section.all-footer .last-mid {
  display: flex;
}
main section.all-footer .border {
  margin: 26px 4px 0 4px;
  padding: 4px;
}
main section.all-footer .border-right {
  width: 0.5px;
  opacity: 0.2;
  background: #6e6e73;
}
main section.all-footer .last-bottom-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
main section.all-footer .last-bottom-foot {
  width: 1461px;
  margin: 0 auto;
}
main section.all-footer .all-footer-div {
  display: flex;
  justify-content: space-between;
  width: 1461px;
  margin: 24px auto;
}
main section.all-footer .all-footer-div .footer-col {
  display: flex;
  flex-direction: column;
}
main section.all-footer .all-footer-div .footer-col .footer-texts {
  color: #424245;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 4px;
}
main section.all-footer .all-footer-div .footer-col .footer-texts:hover {
  color: #000000;
  cursor: pointer;
}
main section.all-footer .all-footer-div .footer-col .title {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 12px;
}
main section.all-footer .all-footer-div .footer-col .bot {
  margin-top: 24px;
}
main section.card {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
main section.card .top-image {
  margin: 56px 0 16px 0;
}
main section.card .subtitle {
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
}
main section.card .card-left {
  width: 100%;
  height: 100%;
  max-width: 734px;
  background-color: #f5f5f7;
  margin: 16px 0 0 16px;
}
main section.card .card-left .top {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 56px 0 4px 0;
}
main section.card .card-left .top .supercharge {
  color: #ca2166;
}
main section.card .card-left .top-image {
  margin-bottom: 28px;
}
main section.card .card-left .subtitle-available {
  margin: 0 0 14px 0;
  color: #000000;
}
main section.card .card-left .image {
  margin: 32px auto 36px;
  max-width: 345px;
}
main section.card .card-right {
  width: 100%;
  max-width: 734px;
  background-color: #fbfbfd;
  margin: 16px 0 0 16px;
}
main section.card .card-right .subtitle-available {
  margin: 0 0 14px 0;
}
main section.card .card-right .subtitle-links {
  margin-bottom: 0;
}
main section.card .card-right .image {
  margin: 74px auto 0;
  max-width: 410px;
}
main section.swiper-all {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-width: 1532px;
}
main section.swiper-all .swiper {
  /*  width: 600px;
  height: 300px; */
}
main section.swiper-all .swiper .swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 0%;
}
main section.swiper-all .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-right: 16px;
  background-color: #a7a7a7;
}
main section.swiper-all .swiper .swiper-wrapper .swiper-slide-prev,
main section.swiper-all .swiper .swiper-wrapper .swiper-slide-next {
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
main section.swiper-all .swiper .swiper-wrapper .swiper-slide {
  transform: scale(0.99);
}
main section.swiper-all .swiper .swiper-wrapper .swiper-slide .swiper-img {
  margin: 0 auto;
  padding: 32px 0 32px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}/*# sourceMappingURL=index.css.map */